data/*/*.mp4

!data/train_sample_videos/cdaxixbosp.mp4
!data/train_sample_videos/btiysiskpf.mp4
!data/train_sample_videos/clihsshdkq.mp4
!data/train_sample_videos/alvgwypubw.mp4
!data/train_sample_videos/eqvuznuwsa.mp4
!data/train_sample_videos/eudeqjhdfd.mp4
!data/train_sample_videos/eeyhxisdfh.mp4
!data/train_sample_videos/cizlkenljw.mp4
!data/train_sample_videos/bndybcqhfr.mp4
!data/train_sample_videos/cuzrgrbvil.mp4
!data/train_sample_videos/atyntldecu.mp4
!data/train_sample_videos/bggsurpgpr.mp4
!data/train_sample_videos/eckvhdusax.mp4
!data/train_sample_videos/dvakowbgbt.mp4
!data/train_sample_videos/dqqtjcryjv.mp4
!data/train_sample_videos/djvutyvaio.mp4
!data/train_sample_videos/dzwkmcwkwl.mp4
!data/train_sample_videos/bpapbctoao.mp4
!data/train_sample_videos/aettqgevhz.mp4
!data/train_sample_videos/bbhtdfuqxq.mp4
!data/train_sample_videos/caifxvsozs.mp4
!data/train_sample_videos/bgaogsjehq.mp4
!data/train_sample_videos/agqphdxmwt.mp4
!data/train_sample_videos/ebywfrmhtd.mp4
!data/train_sample_videos/bsqgziaylx.mp4
!data/train_sample_videos/ciyoudyhly.mp4
!data/train_sample_videos/bxzakyopjf.mp4
!data/train_sample_videos/cknyxaqouy.mp4
!data/train_sample_videos/avnqydkqjj.mp4
!data/train_sample_videos/dakiztgtnw.mp4
!data/train_sample_videos/acifjvzvpm.mp4
!data/train_sample_videos/dofusvhnib.mp4
!data/train_sample_videos/ahqqqilsxt.mp4
!data/train_sample_videos/avtycwsgyb.mp4
!data/train_sample_videos/cvaksbpssm.mp4
!data/train_sample_videos/brwrlczjvi.mp4
!data/train_sample_videos/bgwmmujlmc.mp4
!data/train_sample_videos/dhkwmjxwrn.mp4
!data/train_sample_videos/bmjmjmbglm.mp4
!data/train_sample_videos/emgjphonqb.mp4
!data/train_sample_videos/bzmdrafeex.mp4
!data/train_sample_videos/dsgpbgsrdm.mp4
!data/train_sample_videos/afoovlsmtx.mp4
!data/train_sample_videos/ebeknhudxq.mp4
!data/train_sample_videos/ccfoszqabv.mp4
!data/train_sample_videos/dnexlwbcxq.mp4
!data/train_sample_videos/ensyyivobf.mp4
!data/train_sample_videos/apgjqzkoma.mp4
!data/train_sample_videos/bqeiblbxtl.mp4
!data/train_sample_videos/eqjscdagiv.mp4
!data/train_sample_videos/ejkqesyvam.mp4
!data/train_sample_videos/bilnggbxgu.mp4
!data/train_sample_videos/bulkxhhknf.mp4
!data/train_sample_videos/cdphtzqrvp.mp4
!data/train_sample_videos/cmxcfkrjiv.mp4

data/processed
*.h5

data